{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Add Event</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="d-flex justify-content-around" style="margin-top: 20px">
				{% if action_fail%}
					<div class="alert alert-danger" role="alert">
						<h4 class="alert-heading">Add Event Failed</h4>
						<p>Something went wrong.</p>
					</div>
				{% endif %}
				<form class="form-group" method="POST" novalidate action="{% url 'add_event' %}">
					{{event_form|crispy}}
					{% csrf_token %}
					<button type="submit" style="margin-top: 10px;"class="btn btn-success">Add Event</button>
				</form>
			</div>
		</div>
	</div>

	
</body>
</html>