{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Universities</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h1> Welcome to Practice Application.</h1>
            <p>
                This is form page for adding completed education info.
            </p>
        </div>
	</div>
    {% if action_fail %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Database Call Failed</h4>
        <p>Database call is unsuccessful</p>
    </div>
    {% endif %}
	<div class="container">
		<div class="row">
			<div class="d-flex justify-content-around" style="margin-top: 20px">
				<form class="form-group" method="POST" novalidate action="{% url 'add_education_function' %}">
					{{education_form|crispy}}
					{% csrf_token %}
					<button type="submit" style="margin-top: 10px;"class="btn btn-success">Add</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>