<!DOCTYPE html>
<html lang="en">
<head>
  	<title>API</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h2> Welcome back.</h2>
            <p>
                Please select the api you will view.
            </p>
        </div>
    </div>

    <a href="../github_api"> <p style="text-align:center">Github API</p></a>
    <a href="../github_api/list?format=json"> <p style="text-align:center">Github API JSON</p></a>
    <a href="../geolocation_api"> <p style="text-align:center">Geolocation API</p></a>
    <a href="../geolocation_api/list?format=json"> <p style="text-align:center">Geolocation API JSON</p></a>
    <a href="../formula1_api"> <p style="text-align:center">Formula 1 API</p></a>
    <a href="/formula1_api/?format=json"> <p style="text-align:center">Formula 1 API JSON</p></a>
    <a href="../university_api/list?country_name=Turkey"> <p style="text-align:center">University API JSON (you can change the country= part from the link)</p></a>
    <a href="../education_api/list"> <p style="text-align:center">Education API (list education history)</p></a>
    <a href="../education_api/add"> <p style="text-align:center">Education 1 API (add new education record as JSON)</p></a>

</body>
</html>