<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Education History</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <style>
      table,
      th,
      td {
        border: 1px solid;
      }
      .center {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
      }
      form {
        margin: 0 auto;
        width: 250px;
      }
    </style>
  </head>
<div class="container">

    <table class="center">
        <colgroup>
            <col span="15%">
            <col span="70%">
            <col span="15%">
        </colgroup>
        <tr>
            <th>Currency Code</th>
            <th>Currency Name</th>
            <th>Symbol</th>
        </tr>
        {% for row in result %}
        <tr>
            {% for value in row %}
            <td>
                {{value}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<button onclick="history.back()"><p style="text-align: center"\>Back</button></label></div>
    <a href="{%url 'home' %}"> <p style="text-align: center">Home</p></a>
    </html>