<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
</head>




<body style="text-align:center">
    {% if is_true %}
    <img src="https://logowik.com/content/uploads/images/f1-formula-18381.jpg" width="300" height="300">
    <h1>The Race Standing</h1>
    <h2>Season: {{year}}</h2>
    <h2>Country: {{country}} <img style="border:1px solid black ;" src = {{flag}} width="25" height="20"> </h2>
    
    <h2>Grand Prix: {{grand_prix}}</h2>
    <h2>Date: {{date}}</h2>
    <table style="width:50%; text-align:center; border:1px solid; margin-left:auto; margin-right:auto">
        <tr>
            <th>Rank</th>
            <th>Driver Name</th>
            <th>Driver Last Name</th>
            <th>Nationality</th>
        </tr>
        {% for row in table %}
            <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
            </tr>
        {% endfor %}
    </table>
    <br/><br/>
    
    

    <a href="{%url 'home' %}"> <p style="text-align:center">Return to Homepage</p></a>

    {% else %}
    <h1>There is no data for this query</h1><br><br>
    <a href="{%url 'home' %}"> <p style="text-align:center">Return to Homepage</p></a>
    {% endif %}

 
    
    
    
</body>




</html>