{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h1> Welcome to Practice Application.</h1>
            <p>
                This is sign up page. You can sign up with a username and a password.
            </p>
        </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="d-flex justify-content-around" style="margin-top: 20px">
				{% if action_fail%}
					<div class="alert alert-danger" role="alert">
						<h4 class="alert-heading">Sign up Failed</h4>
						<p>Something went wrong</p>
					</div>
				{% endif %}
				<form class="form-group" method="POST" novalidate action="{% url 'addUser' %}">
					{% csrf_token %}
                    <br>
                    <label>Create New User:</label>
                    <br>
                    <input type="username" name="username" placeholder="Username" required>
                    <br>
                    <input type="password" name="password" placeholder="Password" required>
                    <br>
                    <input type="submit" name="submit" value="Sign up">
                    <br>
				</form>
			</div>
		</div>
	</div>
</body>
</html>