<!DOCTYPE html>

<html lang="en">
<head>
  	<title>View Github Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form {
            margin: 0 auto;
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h2> Please type a gitHub username and see the information about it.</h2>
    </div>
    {% if action_fail %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">View Github Information failed</h4>
        <p>Please type a correct username.</p>
    </div>
    {% endif %}
    <div class="container">
        <table class="center">
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
            </colgroup>
            <tr>
                <th>Github Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Number of Public Repos</th>
                <th>Number of Followers</th>
            </tr>
            {% for row in results %}
            <tr>
                {% for value in row %}
                <td>
                    {{value}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="center">
        <form id="postform" class="form-group" method="POST" action="{%url 'viewGithubInfo' %}">
            {%csrf_token%}
            <br>
            <label>View Github Info:</label>
            <br>
            <input type="github_username" name="github_username" placeholder="GitHub Username" required>
            <br>
            <input type="submit" name="submit" value="Find">
            <br>
        </form>
    </div>
    <a href="{%url 'home' %}"> <p style="text-align:center">Back</p></a>
</body>
</html>